*{
    margin:0;
    padding:0px;
}
#country{
    text-align: center;
    font-weight:bold;
    font-size:18px;
}
#region,#capital{
    align-items:center;
    margin-top:10px;
    font-weight:bold;
}