body{
margin:0;
padding:0;
}

.main{
padding:20px;
border:2px solid black;
width:50%;
margin:auto;
margin-top:30px;

box-sizing:border-box;

}

.heading{
font-position:center;
color:red;
display:flex;
justify-content:center;
}
.genderlb{
margin-right:20px;
font-size:17px;
}